@import '../styles/constants/sizes.css';
@import '../styles/mixins.css';

.post-header-container {
  text-align: center;
}

.post-article-container {

  & h1 { margin-top: 4rem; }

  & h2 { margin-top: 4rem; }

  & h3 { margin-top: 4rem; }

  & p > img {
    transform: scale(.8);
    width: 100%;

    @media (--small-viewport) {
      transform: scale(1.1);
    }
  }

  & ul {
    @media (--small-viewport) {
      padding-left: 1rem;
    }
  }
}
