@import '../constants/colors';
@import '../constants/fonts';

pre, code {
  background-color: var(--lightGray);
  border: 1px solid var(--semiMediumGray);
  border-radius: 3px;
  color: var(--mediumRed);
  font-family: var(--codeFontFamily);
  font-size: .9rem;
  font-weight: 400;
  padding: 0 .3rem;
}

pre {
  padding: 1rem;
}

pre code {
  border: 0;
}
