@import '../mixins';

header {

  & h1 {
    text-align: center;
  }
}

time {
  color: var(--mediumGray);
  font-size: .8rem;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: underline;
}
