:root {
  --lightGray: #fafafa;
  --mainAccent: #214244;
  --mediumBlack: #333;
  --mediumGray: #999;
  --semiMediumGray: #c2c2c2;
  --mediumRed: #d14770;
  --mediumDark: #333;
  --dark: rgb(41, 41, 41);
}
