<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} |{% endif %} {{ site.theme_options.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.theme_options.description }}{% endif %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="shortcut icon" href="{{ "/favicon.png" | prepend: site.baseurl }}" type="image/x-icon">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/atom+xml" title="{{ site.theme_options.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic" rel="stylesheet" type="text/css">

	<!-- KaTeX -->
	{% if site.theme_options.katex %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
	{% endif %}

	<!-- Redirect to SSL -->
	<script type="text/javascript">
    var host = "blog.thibmaekelbergh.be";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
	</script>
</head>
