{% if site.theme_options.rss %}
<li>
	<a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" title="{{ site.theme_options.str_rss_follow }}">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.theme_options.email_address %}
<li>
	<a href="mailto:{{ site.theme_options.email_address }}" title="{{ site.theme_options.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.theme_options.behance %}
<li>
	<a href="https://www.behance.net/{{ site.theme_options.behance }}" title="{{ site.theme_options.str_follow_on }} Behance">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{% endif %}

{% if site.theme_options.bitbucket %}
<li>
	<a href="https://bitbucket.org/{{ site.theme_options.bitbucket }}" title="{{ site.theme_options.str_follow_on }} Bitbucket">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{% endif %}

{% if site.theme_options.dribbble %}
<li>
	<a href="https://dribbble.com/{{ site.theme_options.dribbble }}" title="{{ site.theme_options.str_follow_on }} Dribbble">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{% endif %}

{% if site.theme_options.flickr %}
<li>
	<a href="https://www.flickr.com/photos/{{ site.theme_options.flickr }}" title="{{ site.theme_options.str_follow_on }} Flickr">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{% endif %}

{% if site.theme_options.github %}
<li>
	<a href="https://github.com/{{ site.theme_options.github }}" title="{{ site.theme_options.str_follow_on }} GitHub">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.theme_options.instagram %}
<li>
	<a href="https://instagram.com/{{ site.theme_options.instagram }}" title="{{ site.theme_options.str_follow_on }} Instagram">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.theme_options.linkedin %}
<li>
	<a href="{{ site.theme_options.linkedin }}" title="{{ site.theme_options.str_follow_on }} LinkedIn">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.theme_options.pinterest %}
<li>
	<a href="https://www.pinterest.com/{{ site.theme_options.pinterest }}" title="{{ site.theme_options.str_follow_on }} Pinterest">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{% endif %}

{% if site.theme_options.stack_exchange %}
<li>
	<a href="{{ site.theme_options.stack_exchange }}" title="{{ site.theme_options.str_follow_on }} Stack Exchange">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.theme_options.tumblr %}
<li>
	<a href="https://{{ site.theme_options.tumblr }}.tumblr.com/" title="{{ site.theme_options.str_follow_on }} Tumblr">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{% endif %}

{% if site.theme_options.twitter %}
<li>
	<a href="https://twitter.com/{{ site.theme_options.twitter }}" title="{{ site.theme_options.str_follow_on }} Twitter">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}
