@import 'constants/colors';
@import 'partials/code';

:root {
  background-color: var(--lightGray);
  color: var(--ashBlack);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

a {
  text-decoration: underline;
  color: inherit;
}

time {
  color: var(--mediumGray);
  font-size: .8rem;
  text-transform: uppercase;
}

blockquote {
  border-left: 2px solid;
  color: var(--mediumGray);
  margin: 2rem;

  & p {
    padding: .5rem;
  }
}

.main-content {
  margin: 0 auto;
  padding: 0 10rem;

  & section {
    margin-top: 5rem;

    & article {
      padding: 1rem;

      & ul {
        margin: 1rem;

        & li {
          padding: .2rem 0;
        }
      }
    }
  }
}

.main-posts-list {
  margin: 0 6rem;
}

.mod-ellepsize {
  text-overflow: ellipsis;
}

.tags-group-title {
  background-image: linear-gradient(0deg, transparent 7px, rgba(33, 66, 68, .2) 0);
  background-position: left 0 top 20px;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto;
  min-width: 10%;
  max-width: 50%;
}
