/* COSTANTS */
@import 'constants/colors';
@import 'constants/fonts';
@import 'constants/sizes';

/* PARTIALS */
@import 'partials/text-styles';
@import 'partials/code';

:root {
  background-color: var(--lightGray);
  color: var(--mediumBlack);
  font-family: var(--systemFont);
}

blockquote {
  border-left: 2px solid;
  color: var(--mediumGray);
  font-style: italic;
  margin: 5%;

  & p {
    padding: .5rem;
  }
}

.main-content {
  margin: 0 auto;
  padding: 0 10rem;

  & section {
    margin-top: 5rem;

    @media (--small-viewport) {
      margin: 0;
    }

    & article {
      padding: 1rem;

      & ul,
      & ol {
        margin: 1rem;
        padding-left: 1rem;

        @media (--small-viewport) {
          margin: 0;
        }

        & li {
          padding: .2rem 0;
        }
      }
    }
  }

  @media (--small-viewport) {
    padding: 0 1rem;
  }

  @media (--medium-viewport) {
    padding: 0 2rem;
  }
}

.main-posts-list {
  margin: 0 6rem;

  @media (--small-viewport) {
    display: flex;
    flex-flow: column wrap;
  }

  @media (--xl-viewport) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.mod-ellepsize {
  text-overflow: ellipsis;
}

.tags-group-title {
  background-image: linear-gradient(0deg, transparent 7px, rgba(33, 66, 68, .2) 0);
  background-position: left 0 top 20px;
  background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 50%;
  min-width: 10%;
  text-align: center;
}
