@import '../../../styles/constants/colors';
@import '../../../styles/constants/sizes';

.post-preview-continue {
  border: 1px solid var(--mainAccent);
  border-radius: .3rem;
  color: var(--mainAccent);
  margin: 1rem 0;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease-in-out;

  @media (--large-viewport) {
    text-align: left;
    width: 10rem;

    &::before {
      content: '☞';
      margin-right: .5rem;
    }
  }

  &:hover {
    background-color: #214244;
    color: white;
  }
}
