.post-preview-container {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .09);
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  padding: .5rem 2rem;
  margin: 2rem 0;

  & ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    padding: 0;

    & li {
      font-size: .8rem;
      color: lightness(black, 20%);
      background-image: linear-gradient(0deg, transparent 7px, rgba(180, 80, 130, .2) 0);
      background-position: left 7px top 5px;
      padding: .1rem;
      padding-right: .3rem;
      margin-right: 1rem;
    }
  }
}
