@import '../../../styles/constants/colors';

.post-preview-container {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, .09);
  display: flex;
  flex-flow: column wrap;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  padding: .5rem 2rem;
  margin: 2rem 0;
}

.post-preview-date {
  margin-bottom: .5rem;
}

.post-preview-summary {
  margin: 1rem 0;
}
