.site-header {
  @extend %padding-small;
  background: $accent;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
  display: inline-block;
  float: left;
  width: 100%;

  a {
    color: $white;
  }

  .avatar {
    border-radius: .2em;
    float: left;
    height: 2em;
    margin-right: 1em;
    margin-top: -3px;
    width: 2em;
  }

  .site-title {
    float: left;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
  }

  .site-nav {
    ul {
      float: right;
      line-height: 1.5;
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: right;
    }

    li {
      display: inline;
      float: left;
      margin-right: .4em;
      padding: 0 10px;
    }

    @media (max-width: 1100px) {
      ul {
        display: inline-block;
        float: left;
        padding-top: $padding-small;
        text-align: left;
        width: 100%;
      }
    }
  }
}
