@import '../../styles/constants/colors.css';
@import '../../styles/constants/sizes.css';

.container {
  background-color: var(--mainAccent);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;

  @media (--small-viewport) {
    align-items: center;
    flex-flow: row;
    justify-content: center;
    padding: 1rem;
  }
}

.profileContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;

  & h1 {
    font-size: 1.2rem;

    @media (--small-viewport) {
      display: none;
    }
  }

  & img {
    border-radius: .3rem;
    height: 3rem;
    margin-right: 1rem;
    width: 3rem;
  }
}
