/* TODO: Use color variables */
.main-header {
  background-color: #0f674c;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}

.main-header a {
  color: white;
  text-decoration: none;
}

.main-header h1 {
  font-size: 1.2rem;
}

.main-header-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header-profile img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: .3rem;
  margin-right: 1rem;
}
