// Header text feature
.call-out {
  @extend %padding-regular;
  background-color: $header-desc-background-color;
  background-size: cover;
  color: $header-desc-text-color;
  display: inline-block;
  font-size: 1.2em;
  text-align: center;
  width: 100%;

  p:last-child {
    margin-bottom: 0;
  }
}
// Post listing
.posts {
  .post-teaser {
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    display: inline-block;
    margin: 20px 20px 0 20%;
    padding: 15px;
    width: 60%;

    p a:hover {
      @extend %link-hover;
    }
  }

  .post-link:hover {
    border-bottom: 0;
    color: $text-color;
  }

  .excerpt { margin-top: 1em; }

  .post-tag {
    background-color: lighten($accent, 5%);
    border-radius: 30px;
    color: $white;
    font-size: .7em;
    padding: 5px 10px;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;

  i {
    vertical-align: middle;
  }
}

.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}

@media (min-width: 300px) and (max-width: 768px) {
  .posts {
    .post-teaser {
      margin: 1em .5em;
      width: 95%;
    }
  }

  .pagination {
    padding: 0;
  }
}
