@import '../../styles/constants/colors.css';
@import '../../styles/constants/sizes.css';

.footer {
  color: var(--mediumGray);
  font-size: .8rem;
  margin: 2rem 0;
  text-align: center;

  @media (--small-viewport) {
    padding: 0 .5rem;
  }
}

.contentful {
  max-width: 100px;
  width: 100%;
}
