.container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.hidden { visibility: hidden; }

.btn {
  border: 1px solid #214244;
  border-radius: .3rem;
  color: #214244;
  margin: 1rem 0;
  min-width: 6.5rem;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.prevBtn::before {
  content: '👈';
  margin-right: .5rem;
}

.nextBtn::after {
  content: '👉';
  margin-left: .5rem;
}
