---
layout: default
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header style="background-image: url('{{ site.baseurl }}/{{ page.feature-img }}')">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
    {{ page.date | date: "%B %-d, %Y" }}
    <span class="post-reading-time">
      —
      {% capture words %}
        {{ content | number_of_words | minus: 180 }}
      {% endcapture %}
      {% unless words contains "-" %}
        {{ words | plus: 180 | divided_by: 180 | append: " min" }}
      {% endunless %}
      read
    </span>
    </p>
  </header>
  <section class="post-content">{{ content }}</section>
</article>

<!-- Disqus -->
{% if site.theme_options.disqus_shortname %}
<div class="comments">
  {% include disqus.html %}
</div>
{% endif %}
