@import '../../styles/constants/sizes.css';

.main-nav {
  display: flex;
}

.main-nav ul {

  & li {
    display: inline;
    margin-right: 1rem;

    & a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media (--small-viewport) {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 0;

    & li {
      padding: .5rem 0;
    }
  }
}
