// Bases
$black: #000;
$black-light: #333;
$white: #fff;
$white-dark: #fafafa;
$border: #ddd;
$code-bg: #f8f8f8;
$code: #d14770;
$quote-bg: #999;

// Brand colours
$accent: #5f79da;
$background-color: $white-dark;
$brand-color: $background-color;
$border-color: rgba(0, 0, 0, .1);

// Typography colours
$text-color: $black-light;
$link-color: $accent;
$header-link-color: $accent;

// Feature image for articles
$feature-image-text-color: $white;
$feature-image-size: cover;

// Header description box
$header-desc-background-color: $accent;
$header-desc-text-color: $white;

// Code formatting
$code-background-color: $code-bg;
$code-text-color: $code;
$code-border: $border;

// Typography
//$font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$code-font: 'Source Code Pro', monospace;
$font-size: 1em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;
